* { margin: 0; padding: 0; }

body { background-color: #fafafa; }


/* start to design header */
span.telephone {
	font-size: 16px;
	line-height: 40px;
	color: #29b078;
}

a.share {
	float: right;
	padding-top: 8px;  /* (40-24)/2=8px */
	padding-left: 8px;
}

nav.navbar-default {
	margin-bottom: 0;
	border: none;
	border-radius: 0;
	background-color: #29b078;
}

nav.navbar img {
	height: 33px;
	margin-top: 10px;   /* 因为被设置了float，为了居中只能这样了，（53px-43px)/2 = 10px */
}

nav.navbar-default ul.navbar-nav > li > a {  /* 为了覆盖bootstrap的样式 */
	font-size: 14px;
	color: #fff;
}

nav.navbar-default ul.navbar-nav > li.active > a {  /* 为了覆盖bootstrap的样式 */
	border-bottom: 3px solid #fff;
	color: #fff;
	background-color: #29b078;
}
/* finish designing header */


/* start to design footer */
footer {
	color: #fff;
	background-color: #29b078;
}

div.other-info-left {
	float: left;
	width: 30%;
	letter-spacing: -6px;
}

div.other-info-right {
	position: relative;
	height: 140px;
	margin-left: 30%;

}

div.other-info div p {
	margin-top: 20px;
	font-size: 16px;
	letter-spacing: 0;
}

div.other-info div a {
	display: inline-block;
	padding-bottom: 2px;
	color: #fff;
	border-bottom: 1px solid #29b078;   /* 为了hover时页面其他部分不变动 */
}

div.other-info div a:hover {
	text-decoration: none;
	border-bottom: 1px solid #fff;
}

div.other-info-left a {
	box-sizing: content-box;
	margin-top: 60px;
	padding-left: 8px;
	padding-right: 8px;
	letter-spacing: 0;
}

div.other-info-left a:nth-of-type(1) { padding-left: 0; }

div.other-info-left a:nth-of-type(2) {
	border-left: 2px solid #fff;
	border-right: 2px solid #fff;
}

div.other-info-right span {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 16px;
}

div.other-info-right img {
	position: absolute;
	top: 25px;
	right: 0;
	width: 96px;
}

div.other-info-right a {
	margin-top: 20px;
	margin-right: 20px;

}

footer > p {
	margin-bottom: 0;
	padding: 3px;
	font-size: 12px;
	text-align: center;
	border-top: 1px solid rgba(255,255,255,.3);
}
/* finish deigning footer */




/* 首页部分 */
.homepage h3 {
	text-align: center;
	font-size: 18px;
	font-weight: 600;
}

.homepage div.introduction,
.homepage div.study-method,
.homepage div.excellent-student,
.homepage div.business-partner,
.homepage div.friendly-link { margin-top: 80px; }

/* start to design main */
/* 开始设计轮播 */
.homepage div.carousel a.left {
	background: url(images/homepage/carousel-left.png) right center no-repeat;
}

.homepage div.carousel a.right {
	background: url(images/homepage/carousel-right.png) left center no-repeat;
}
/* 结束设计轮播 */

/* 开始布局div.introduction部分 */
.homepage div.introduction div.row {
	text-align: center;
}

.homepage div.introduction div.row img {
	height: 48px;
}

.homepage p.intro-info {
	font-size: 16px;
	text-align: left;
	color: #999;
}

.homepage div.introduction div.row > div:last-child {
	padding-top: 30px;
	padding-bottom: 20px;
	padding-left: 30px; 
	border-left: 1px dashed #ccc;
	text-align: left;
	font-size: 18px;
}

.homepage span.icon-user {
	display: inline-block;
	height: 30px;
	width: 30px;
	background: url(images/homepage/icon-user.png) center no-repeat;
}

.homepage span.user-number {
	display: inline-block;
	line-height: 30px;
	vertical-align: top;
	color: #29b078;
}
/* 结束布局div.introduction部分 */

/* 开始布局div.study-method，即如何学习部分 */
.homepage div.study-method div.row:not(last-child) { margin-top: 30px; }
.homepage div.study-method div.row:last-child { margin-top: 60px; }

.homepage div.study-step {
	float: left;
	width: 20%;
}

.homepage span.number {
	display: inline-block;
	float: left;
	width: 50px;

	line-height: 50px;
	font-size: 18px;
	font-weight: 600;
	color: #29b078;
	text-align: center;

	border-radius: 50%;
	background-color: #fff;
	box-shadow: 1px 1px #ccc;
}

.homepage p.content {
	display: flex;
	min-height: 50px;
	margin-left: 60px;
	margin-bottom: 0;
	align-items: center;
}

.homepage img.arrow {
	float: left;
	margin: 9px calc((20% / 3 - 32px) / 2);
}
/* 结束布局div.study-method，即如何学习部分 */

/* 开始布局div.excellent-student，即优秀学员部分 */
.homepage div.excellent-student div.row > div {
	margin-top: 30px;
	text-align: center;
}

.homepage div.student {
	padding-bottom: 5px;
	background-color: #fff;
	box-shadow: 2px 2px 5px #ddd;
}

.homepage img.person {
	width: 50%;
	height: 50%;
	margin-top: 15px;
}

.homepage div.student p {
	text-align: left;
	margin: 15px 20px;
	color: #999;
}

/*div.row1 { position: relative; } */

.homepage div.excellent-student div.carousel-inner { overflow: visible; }
.homepage div.excellent-student ol.carousel-indicators { bottom: -40px; }
.homepage div.excellent-student ol.carousel-indicators li { border-color: #29b078; }
.homepage div.excellent-student ol.carousel-indicators li.active { background-color: #29b078; }
/* 结束布局div.excellent-student，即优秀学员部分 */

/* 开始布局div.business-partner，即合作企业部分 */
.homepage div.business-partner { display: table; }

.homepage div.business-partner div.row {
	display: table-row;   /* 这样设是为了整体展现表格时，左右两边不会多出15px，具体原因不太明白，可能是表格有边框的关系??? */
	width: 100%;
	box-shadow: 1px 1px 3px #ddd;
}

.homepage div.business-partner h3 {
	display: table-caption;
	margin-bottom: 30px;
}

.homepage div.company {
	display: table-cell;
	width: 20%;
	height: 150px;

	text-align: center;
	vertical-align: middle;

	background-color: #fff;
}

.homepage div.company img {
	display: block;
	width: 100%;
}

.homepage div.company img[src$="alibaba.png"] { padding: 0 calc((100% - 146px) / 2); }
.homepage div.company img[src$="jinshan.png"] { padding: 0 calc((100% - 57px) / 2); }
.homepage div.company img[src$="huanxin.png"] { padding: 0 calc((100% - 140px) / 2); }
.homepage div.company img[src$="ronglian.png"] { padding: 0 calc((100% - 171px) / 2); }
.homepage div.company img[src$="qiniu.png"] { padding: 0 calc((100% - 130px) / 2); }

.homepage div.company:hover {
	position: relative;   /* 为了让中间的图片hover时右边有阴影 */
	z-index: 100;
	box-shadow: 0px 0px 10px #ddd;
}
/* 结束布局div.business-partner，即合作企业部分 */

/* 开始布局div.friendly-link，即友情链接部分 */
.homepage div.friendly-link {
	background-color: #fff;
}

.homepage ul.links {
	display: flex;
	margin-bottom: 5px;
	justify-content: space-between;
}

.homepage ul.links li {
	list-style-position: inside;
	border-bottom: 2px solid #fff;    /* 为了hover时页面不会产生变动，可能是设置了flex的原因 */
}

.homepage ul.links li:hover { border-bottom: 2px solid #29b078; }

.homepage ul.links li a {
	color: #999;
}
/* 结束布局div.friendly-link，即友情链接部分 */
/* finish design main */




/* 合作公司部分 */
.cooperation article, section { background-color: #fff; }


/* begin to design main */
.cooperation div.nav-img,
.cooperation div.nav-img img { width: 100%; }

/* 开始设计面包屑部分 */
.cooperation div.bread ol.breadcrumb {
	padding: 20px 0;
	margin-bottom: 0;
	font-weight: 600;
	background-color: #fafafa;
}

.cooperation ol.breadcrumb > li + li:before {
	color: #000;
	content: ">";
	font-weight: normal;
}

.cooperation ol.breadcrumb li.active {
	color: #29b078;
}

.cooperation ol.breadcrumb li a { color: #000; }
/* 结束布局面包屑部分 */

.cooperation div.companys { margin-bottom: 100px; }

/* 开始布局公司列表部分，即section.company-list */
.cooperation section.company-list { box-shadow: 0px 0px 8px #ddd; }

.cooperation .company-list h4 {
	margin-top: 0;
	padding: 20px;
	font-size: 16px;
	text-align: center;
	font-weight: 600;
	border-bottom: 1px solid #ccc;
}

.cooperation ul.company-nav {
	width: 100%;
	padding-bottom: 20px;
	border-bottom: none;  /* 为了覆盖bootstrap的样式 */
}


.cooperation ul.company-nav > li {
	width: 100%;
	text-align: left;
}

.cooperation ul.company-nav li.active a,
.cooperation ul.company-nav li.active a:focus,
.cooperation ul.company-nav li.active a:hover {  /* 为了覆盖bootstrap的样式 */
	color: #ff650e;
	border: none;
}

.cooperation ul.company-nav li a {  /* 为了覆盖bootstrap的样式 */
	/* display: inline-block; */
	margin-right: 0;
	padding-left: calc( 50% - 40px);   /* 40为16*5/2的估算值，看来我对于行框理解不深 */
	color:  #29b078;
}

.cooperation ul.company-nav li a:before {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 8px;

	content: "";
	border: 1px solid #ff640c;
	border-radius: 50%;
}

.cooperation ul.company-nav li.active a:before,
.cooperation ul.company-nav li a:hover:before { background-color: #f9a372; }
/* 结束布局公司列表部分，即section.company-list */

/* 开始布局公司介绍部分，即article下section部分，包含div.company-pro与div.company-detail */
.cooperation article.company-info {
	padding: 0 50px;
	box-shadow: 1px 1px 10px #ddd;
}

.cooperation .company-info p { color: #777; }

.cooperation div.company-pro {
	position: relative;
	width: calc(100% + 100px);
	margin: 0 -50px;
	padding: 0 50px;
	border-bottom: 1px solid #ccc;
}

.cooperation div.company-pro img {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 20%;
}

.cooperation div.company-pro p {
	margin-left: calc((100% + 100px) * 0.2 + 10px);
	padding: 30px 0;
}

.cooperation div.company-detail p { margin: 30px 0; }

.cooperation div.company-detail p:last-child {
	padding-bottom: 40px;
}
/* 结束布局公司介绍部分，即article下section部分，包含div.company-pro与div.company-detail */
/* finish designing main */




/* 职业推荐部分 */
/* start to design main */
/* 开始设计面包屑部分 */
.career div.bread ol.breadcrumb {
	padding: 20px 0;
	margin-bottom: 0;
	font-weight: 600;
	border-bottom: 1px solid #ccc;
	background-color: #fafafa;
}

.career ol.breadcrumb > li + li:before {
	color: #000;
	content: ">";
	font-weight: normal;
}

.career ol.breadcrumb li.active {
	color: #29b078;
}

.career ol.breadcrumb li a { color: #000; }
/* 结束布局面包屑部分 */

/* 开始设计方向选择区域，即div.web-nav */   /*
.career div.web-nav { border-bottom: 1px solid #ccc; }

.career div.web-nav span {
	display: block;
	float: left;
	line-height: 50px;
	color: #999;
}

.career div.web-nav ul.navbar {
	
	margin-bottom: 0;
	line-height: 50px;
	list-style-type: none;
}

.career div.web-nav ul.nav li {
	margin-left: 25px;
}

.career div.web-nav ul.nav a {
	padding: 3px 5px;
	color: #000;
}

.career div.web-nav ul.nav a:link {
	color: red;
	background-color: #fafafa;
}

.career div.web-nav ul.nav a:visited {
	color: #fff;
	background-color: #29b078;
}

.career div.web-nav ul.nav a:hover {
	color: #fff;
	background-color: #29b078;
}

.career div.web-nav ul.nav a:active {
	color: #fff;
	background-color: #29b078;
}  */

.career div.web-nav div.web-nav-justify {
	margin: 0;   /* 因为后续没有div[class^="col-"]，只能将margin: 0 -15px;覆盖，要不然就超出了边界，然后不写div.row的话，
	                因内部元素都设为了float: left; 只设置div的话，高度就为0了 */
	border-bottom: 1px solid #ddd;
}

.career div.web-nav span {
	display: inline-block;
	float: left;
	line-height: 50px;
	color: #999;
}

.career ul.web-nav-ul {
	background-color: #fafafa;
}

 div.web-nav ul.web-nav-ul a {    /* 写div.web-nav是为了增加优先级，覆盖bootstrap的样式 */
 	padding: 3px;
 	margin: 12px;
	color: #000;
	border-radius: 3px;
}

.career ul.web-nav-ul li a:hover {
	color: #29b078;
	background-color: #fafafa;
}

.career ul.web-nav-ul li.active a {
	color: #fff;
	background-color: #29b078;
}
/* 结束布局div.web-nav，未能完成任务 */

/* 整体布局 */
.career div.front-end,
.career div.back-end,
.career div.mobile-develop,
.career div.ops-develop {
	margin-top: 30px;
	margin-bottom: 30px;
}

.career div.ops-develop { margin-bottom: 200px; }

.career div.container h3 {
	margin: 0 auto;
	padding-bottom: 30px;
	font-size: 16px;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
}


/* 开始设计非hover状态下显示职位介绍，即section */
.career section {
	position: relative;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 50px;
	background-color: #fff;
	box-shadow: 1px 1px 5px #ccc;
}

.career img.favicon {
	float: left;
	width: 40%;
	margin: 20px 0;
}

.career div.jd {
	display: flex;
	width: 60%;
	margin-left: 40%;
	padding-left: 15px;
	flex-direction: column;
	justify-content: center;
}

.career div.jd h4 {
	padding-top: 5px;
	font-size: 16px;
	font-weight: bold;
}

.career div.jd p {
	font-size: 16px;
	text-align: justify;
	word-break: break-all;
}

.career table {
	width: calc(100% + 30px);  /* 为了抵消因负margin产生的不能填满父元素的影响 */
	margin-top: -1px;    /* 为了消除两个表格之间重叠的边框 */
	margin-left: -15px;  /* 为了让边框填满整个父元素 */
	margin-right: -15px;
	font-size: 12px;
	color: #999;
}

.career table td {
	height: 30px;
	padding: 0 15px;     /* 为了抵消table产生的负margin值 */
	vertical-align: middle;
}

.career table.market-need td { width: 50%; }

.career table.market-need span { color: #000; }

.career table.market-need span.year,    /* 为了覆盖上一句的color属性，需要在前面添加table.market-need提升优先级 */
.career table.market-need span.need {
	padding-left: 15px;
	color: red;
	font-weight: 600;
}

.career span.star {
	margin-left: 15px;
	/* width: 20px; */  /* 就算设置display: inline-block; width属性也不起作用，可能是因为是表格的关系 */
	letter-spacing: 4px;    /* 可以与背景图片进行配合，如果需要星星有间隔的话，增加背景图片的空白区域即可 */
	background: url(images/career/star.png) left center repeat-x;
}

.career table.salary td.salary-detail {
	width: 40%;
	text-align: center;
}

.career table.salary td:not(.salary-detail) {
	padding-left: 25px;
	color: #000;
}

.career table.salary td:not(.salary-detail) span:last-child { float: right; }

/* 开始设计两个表格的边框 */
.career table td { border: 1px solid #ccc; }
/* table.market-need tr td:first-child,
   table.salary td.salary-detail { border-left: none; } */  /* 可以合并为下面的一个语句 */
.career table td:first-child { border-left: none; }
.career table td:last-child { border-right: none; }
/* 结束设计两个表格的边框 */

.career table + p {
	width: calc(100% + 30px);
	margin: 0 -15px;
	padding: 10px 15px;
	font-weight: 600;
	border-bottom: 1px solid #ccc;
}

.career span.student-num { color: red; }

.career table + p + p {
	margin-bottom: 0;
	padding: 10px 0;
	font-size: 12px;
	color: #999;
}
/* 结束设计非hover状态下显示职位介绍，即section */

/* 开始设计hover状态下显示职位介绍，即div.info-hover */
.career div.info-hover {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -100;
	color: #fff;

	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: auto;

	font-size: 16px;
	text-align: justify;
	background-color: rgba(0,0,0,.8)
}

.career div.info-hover h4 {
	margin-top: 0;
	margin-bottom: 40px;
	font-size: 16px;
	text-align: center;
}

.career div.info-hover p {
	margin-bottom: 0;
	padding: 0 50px;
}

.career section:hover div.info-hover { z-index: 100; }
/* 结束设计hover状态下显示职位介绍，即div.info-hover */
/* finish designing main */