* { margin: 0; padding: 0; }

body { background-color: #fafafa; }


/* start to design header */
span.telephone {
	font-size: 16px;
	line-height: 40px;
	color: #29b078;
}

a.share {
	float: right;
	padding-top: 8px;  /* (40-24)/2=8px */
	padding-left: 8px;
}

nav.navbar-default {
	margin-bottom: 0;
	border: none;
	border-radius: 0;
	background-color: #29b078;
}

nav.navbar img {
	height: 33px;
	margin-top: 10px;   /* 因为被设置了float，为了居中只能这样了，（53px-43px)/2 = 10px */
}

nav.navbar-default ul.navbar-nav > li > a {  /* 为了覆盖bootstrap的样式 */
	font-size: 14px;
	color: #fff;
}

nav.navbar-default ul.navbar-nav > li.active > a {  /* 为了覆盖bootstrap的样式 */
	border-bottom: 3px solid #fff;
	color: #fff;
	background-color: #29b078;
}
/* finish designing header */


/* start to design main */
/* 开始设计面包屑部分 */
div.bread ol.breadcrumb {
	padding: 20px 0;
	margin-bottom: 0;
	font-weight: 600;
	border-bottom: 1px solid #ccc;
	background-color: #fafafa;
}

ol.breadcrumb > li + li:before {
	color: #000;
	content: ">";
	font-weight: normal;
}

ol.breadcrumb li.active {
	color: #29b078;
}

ol.breadcrumb li a { color: #000; }
/* 结束布局面包屑部分 */

/* 开始设计方向选择区域，即div.web-nav */   /*
div.web-nav { border-bottom: 1px solid #ccc; }

div.web-nav span {
	display: block;
	float: left;
	line-height: 50px;
	color: #999;
}

div.web-nav ul.navbar {
	
	margin-bottom: 0;
	line-height: 50px;
	list-style-type: none;
}

div.web-nav ul.nav li {
	margin-left: 25px;
}

div.web-nav ul.nav a {
	padding: 3px 5px;
	color: #000;
}

div.web-nav ul.nav a:link {
	color: red;
	background-color: #fafafa;
}

div.web-nav ul.nav a:visited {
	color: #fff;
	background-color: #29b078;
}

div.web-nav ul.nav a:hover {
	color: #fff;
	background-color: #29b078;
}

div.web-nav ul.nav a:active {
	color: #fff;
	background-color: #29b078;
}  */

div.web-nav div.web-nav-justify {
	margin: 0;   /* 因为后续没有div[class^="col-"]，只能将margin: 0 -15px;覆盖，要不然就超出了边界，然后不写div.row的话，
	                因内部元素都设为了float: left; 只设置div的话，高度就为0了 */
	border-bottom: 1px solid #ddd;
}

div.web-nav span {
	display: inline-block;
	float: left;
	line-height: 50px;
	color: #999;
}

ul.web-nav-ul {
	background-color: #fafafa;
}

 div.web-nav ul.web-nav-ul a {    /* 写div.web-nav是为了增加优先级，覆盖bootstrap的样式 */
 	padding: 3px;
 	margin: 12px;
	color: #000;
	border-radius: 3px;
}

ul.web-nav-ul li a:hover {
	color: #29b078;
	background-color: #fafafa;
}

ul.web-nav-ul li.active a {
	color: #fff;
	background-color: #29b078;
}
/* 结束布局div.web-nav，未能完成任务 */

/* 整体布局 */
div.front-end,
div.back-end,
div.mobile-develop,
div.ops-develop {
	margin-top: 30px;
	margin-bottom: 30px;
}

div.ops-develop { margin-bottom: 200px; }

div.container h3 {
	margin: 0 auto;
	padding-bottom: 30px;
	font-size: 16px;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
}


/* 开始设计非hover状态下显示职位介绍，即section */
section {
	position: relative;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 50px;
	background-color: #fff;
	box-shadow: 1px 1px 5px #ccc;
}

img.favicon {
	float: left;
	width: 40%;
	margin: 20px 0;
}

div.jd {
	display: flex;
	width: 60%;
	margin-left: 40%;
	padding-left: 15px;
	flex-direction: column;
	justify-content: center;
}

div.jd h4 {
	padding-top: 5px;
	font-size: 16px;
	font-weight: bold;
}

div.jd p {
	font-size: 16px;
	text-align: justify;
	word-break: break-all;
}

table {
	width: calc(100% + 30px);  /* 为了抵消因负margin产生的不能填满父元素的影响 */
	margin-top: -1px;    /* 为了消除两个表格之间重叠的边框 */
	margin-left: -15px;  /* 为了让边框填满整个父元素 */
	margin-right: -15px;
	font-size: 12px;
	color: #999;
}

table td {
	height: 30px;
	padding: 0 15px;     /* 为了抵消table产生的负margin值 */
	vertical-align: middle;
}

table.market-need td { width: 50%; }

table.market-need span { color: #000; }

table.market-need span.year,    /* 为了覆盖上一句的color属性，需要在前面添加table.market-need提升优先级 */
table.market-need span.need {
	padding-left: 15px;
	color: red;
	font-weight: 600;
}

span.star {
	margin-left: 15px;
	/* width: 20px; */  /* 就算设置display: inline-block; width属性也不起作用，可能是因为是表格的关系 */
	letter-spacing: 4px;    /* 可以与背景图片进行配合，如果需要星星有间隔的话，增加背景图片的空白区域即可 */
	background: url(images/career/star.png) left center repeat-x;
}

table.salary td.salary-detail {
	width: 40%;
	text-align: center;
}

table.salary td:not(.salary-detail) {
	padding-left: 25px;
	color: #000;
}

table.salary td:not(.salary-detail) span:last-child { float: right; }

/* 开始设计两个表格的边框 */
table td { border: 1px solid #ccc; }
/* table.market-need tr td:first-child,
   table.salary td.salary-detail { border-left: none; } */  /* 可以合并为下面的一个语句 */
table td:first-child { border-left: none; }
table td:last-child { border-right: none; }
/* 结束设计两个表格的边框 */

table + p {
	width: calc(100% + 30px);
	margin: 0 -15px;
	padding: 10px 15px;
	font-weight: 600;
	border-bottom: 1px solid #ccc;
}

span.student-num { color: red; }

table + p + p {
	margin-bottom: 0;
	padding: 10px 0;
	font-size: 12px;
	color: #999;
}
/* 结束设计非hover状态下显示职位介绍，即section */

/* 开始设计hover状态下显示职位介绍，即div.info-hover */
div.info-hover {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -100;
	color: #fff;

	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: auto;

	font-size: 16px;
	text-align: justify;
	background-color: rgba(0,0,0,.8)
}

div.info-hover h4 {
	margin-top: 0;
	margin-bottom: 40px;
	font-size: 16px;
	text-align: center;
}

div.info-hover p {
	margin-bottom: 0;
	padding: 0 50px;
}

section:hover div.info-hover { z-index: 100; }
/* 结束设计hover状态下显示职位介绍，即div.info-hover */
/* finish designing main */


/* start to design footer */
footer {
	color: #fff;
	background-color: #29b078;
}

div.other-info-left {
	float: left;
	width: 30%;
	letter-spacing: -6px;
}

div.other-info-right {
	position: relative;
	height: 140px;
	margin-left: 30%;

}

div.other-info div p {
	margin-top: 20px;
	font-size: 16px;
	letter-spacing: 0;
}

div.other-info div a {
	display: inline-block;
	padding-bottom: 2px;
	color: #fff;
	border-bottom: 1px solid #29b078;   /* 为了hover时页面其他部分不变动 */
}

div.other-info div a:hover {
	text-decoration: none;
	border-bottom: 1px solid #fff;
}

div.other-info-left a {
	box-sizing: content-box;
	margin-top: 60px;
	padding-left: 8px;
	padding-right: 8px;
	letter-spacing: 0;
}

div.other-info-left a:nth-of-type(1) { padding-left: 0; }

div.other-info-left a:nth-of-type(2) {
	border-left: 2px solid #fff;
	border-right: 2px solid #fff;
}

div.other-info-right span {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 16px;
}

div.other-info-right img {
	position: absolute;
	top: 25px;
	right: 0;
	width: 96px;
}

div.other-info-right a {
	margin-top: 20px;
	margin-right: 20px;

}

footer > p {
	margin-bottom: 0;
	padding: 3px;
	font-size: 12px;
	text-align: center;
	border-top: 1px solid rgba(255,255,255,.3);
}
/* finish deigning footer */