* {
	margin: 0;
	padding: 0;
}

header {
	background-color: #5FC0CD;
	height: 2.4em;
	display: fixed;
	left: 0; right: 0; top: 0;
}

header a {
	color: #fff;
	font-size: 1.2em;
	text-decoration: none;
	float: left;
	margin-left: 16px;
	line-height: 2em;
	/*text-align: left center;*/
}

header h2 {
	color: #fff;
	font-size: 1.2em;
	font-weight: 500;
	margin-left: 20%;
	margin-right: 20%;
	line-height: 2em;
	width: 60%;
	text-align: center;
}

footer {
	position: fixed;
	bottom: 0; left: 0; right: 0;
	height: 3em;
	background-color: #fff;
}

button {
	display: inline-block;
	font-size: 1em;
	line-height: 2em;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 2px solid #5FC0CD;
	border-radius: 5px;
	background-color: #fff;
}

.footer-btn-msg {
	color: #5FC0CD;
	margin: 1% 0 1% 1%;
	width: 48%;
}

.footer-btn-contact {
	color: #fff;
	background-color: #5FC0CD;
	margin: 1% auto 1% 1.5%;
	width: 48%;
}

html, body {
	height: 100%;
	margin: 0;
}

.content {
	background-image: url(images/background.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 10em;
	position: relative;
}

.head-portrait {
	border-radius: 50%;
	background-color: #fff;
	overflow: hidden;
	width: 75px;
	height: 75px;
	position: absolute;
	left: 2em;
	top: 42.5px;
}

.content img {
	width: 75px;
	height: auto;
	margin-bottom: -30px;
}

.user-info {
	position: relative;
	top: 55px;
	margin-left: 10em;
	color: #fff;
}

.user-position {
	padding-left: 1em;
	background: url(images/position.png) no-repeat left center;
	background-size: 12px;
	margin-top: .5em;
}

.user-info-tag {
	display: inline-block;
	margin-left: 1em;
	padding-left: 1em;
	width: 3em;
	background: url(images/list.png) no-repeat left center;
	background-size: 14px;
}

.instructions, .user-info-detail>li {
	line-height: 3em;
	min-height: 3em;
	border-bottom: solid 1px #ccc;
}

.instructions span {
	margin-left: 1em;
	padding-left: .5em;
	border-left: solid 3px #5FC0CD;
}

.user-info-label {
	display: inline;
	margin-left: 1em;
	padding-right: 1em;
	/*width: 5em;*/
	border-right: 1px solid #ccc;
}

.user-info-item {
	display: inline-block;
	padding-left: .5em;
}

.difference {
	/*display: inline-block;*/
	line-height: 1.3125em;
	/*float: left;*/
	margin: .9em .5em .9em 6.5em;
	/*position: relative;*/
	/*top: 50%;*/
	/*min-height: 3em;*/
	/*transform: translateY(15%);*/
}

.user-info-detail>li:last-child {
	position: relative;
}

.change {
	display: inline;
	line-height: 1.3125em;  /* 21 / 16 */
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

main {
	position: absolute;
	top: 2.4em;
	bottom: 3em;
	left: 0;
	right: 0;
	overflow: auto;
}